@import "../css/normalize.css";
@import "../css/nulling-styles.css";
@import "../css/hover.css";
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.center {
  padding: 0 15px;
}

.center {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.header__top-wrp {
  background: #EBF0F4;
  padding: 20px 0 20px;
}
.header__top-wrp a {
  display: flex;
  align-items: center;
  color: #535C74;
  font-size: 16px;
  font-style: normal;
  line-height: 20.8px;
  position: relative;
  padding: 0 0 0 26px;
}

.header__top-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-tel a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../../img/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
}

.header__top-email a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../../img/mail.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.logo__link {
  display: block;
  width: 250px;
  height: 60px;
  background: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nav__menu {
  max-width: 642px;
  width: 100%;
}

.nav__menu-list {
  max-width: 642px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu-list a {
  color: #384054;
  font-size: 20px;
  line-height: 26px;
}

.nav__user {
  width: 106px;
  height: 48px;
}
.nav__user ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__user a {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.user {
  background: url(../../img/person.png);
}

.card {
  background: url(../../img/cart.png);
}

.header__slider {
  position: relative;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.slider__line {
  display: flex;
  align-items: stretch;
  transition: all 1s;
}

.slider__img {
  width: 100%;
  height: 800px;
}

.header__info {
  position: absolute;
  top: 211px;
  padding-left: 310px;
}
.header__info h2 {
  max-width: 860px;
  width: 100%;
  font-size: 60px;
  font-weight: 500;
  line-height: 78px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.header__info p {
  max-width: 860px;
  width: 100%;
  font-size: 40px;
  line-height: 52px;
  margin: 0 0 40px 0;
}
.header__info a {
  display: flex;
  max-width: 250px;
  width: 100%;
  height: 66px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #E3EFFA;
  color: #384054;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.slider__btn-prev {
  position: absolute;
  left: 1%;
  top: 50%;
  background-color: transparent;
  border: none;
}

.slider__btn-next {
  position: absolute;
  right: 2%;
  top: 50%;
  background-color: transparent;
  border: none;
}

.slider__wrapper {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dot {
  width: 50px;
  height: 4px;
  background: #AEC1D2;
}

.slider__dot:hover {
  background-color: #888;
}

.active-dot {
  background-color: #fff;
}

.slider__btn-next img, .slider__btn-prev img {
  width: 50px;
}

.services {
  padding: 60px 0 89px 0;
}
.services h3 {
  color: #384054;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.service__list img {
  max-width: 640px;
  width: 100%;
}

.servise__item {
  position: relative;
}

.servise__info {
  max-width: 580px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 319px;
  left: 30px;
}
.servise__info h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 39px;
  margin: 0 0 6px 0;
}
.servise__info p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.servise__info a {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../../img/icon_dropdown.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer {
  background: #384054;
  padding: 60px 0 40px;
}
.footer__wrp {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  background: url(../../img/logo_footer.png);
  margin: 0 0 30px 0;
}
.footer__social, .footer__social-logo {
  max-width: 250px;
  width: 100%;
}
.footer__social-list{
  max-width: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social-link {
  display: block;
  width: 29px;
  height: 29px;
}
.icon-instagram {
  background: url(../../img/instagram.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon-vk {
  background: url(../../img/vk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon-twiter {
  background: url(../../img/twiter.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.icon-telegram {
  background: url(../../img/telegram.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__menu-link {
  color: #EBF0F4;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
}
.footer__menu-one_list, .footer__menu-two_list {
  height:185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu-one_list {
  max-width: 156px;
  width: 100%;
}
.footer__menu-two_list {
  max-width: 221px;
  width: 100%;
}
.footer__menu-icon {
  max-width: 207px;
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu-icon {
  max-width: 207px;
  width: 100%;
}
.icon-google {
  background: url(../../img/google.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-aple {
  background: url(../../img/app.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 850px) {
  .slider__btn-next img, .slider__btn-prev img {
    width: calc(20px + 30 * (100vw - 320px) / 530);
  }
  .slider__wrapper {
    -moz-column-gap: calc(5px + 5 * (100vw - 320px) / 530);
         column-gap: calc(5px + 5 * (100vw - 320px) / 530);
  }
}